### MTA Turnstile data: MVP
The goal of the project is to predict the stations with the highest traffic in the upcoming Summer based on the data from previous Summers. The data of June, July, and August in 2019 was loaded into Python to explored. (the data of 2020 was purposely ignored because of the pandamic impact on the patterns in data)

### Data Cleaning

In [2]:
import pandas as pd

In [11]:
# load the data of Summer 2019 from URL

def get_data_parse_dt(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url, parse_dates=[['DATE','TIME']], keep_date_col=True))
    return pd.concat(dfs)
        
week_nums = [190601, 190608, 190615, 190622, 190629, 190706, 190713,
             190720, 190727, 190803, 190810, 190817, 190824, 190831]
turnstiles_df = get_data_parse_dt(week_nums)

In [12]:
turnstiles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2893420 entries, 0 to 205262
Data columns (total 12 columns):
 #   Column                                                                Dtype
---  ------                                                                -----
 0   DATE_TIME                                                             datetime64[ns]
 1   C/A                                                                   object
 2   UNIT                                                                  object
 3   SCP                                                                   object
 4   STATION                                                               object
 5   LINENAME                                                              object
 6   DIVISION                                                              object
 7   DATE                                                                  object
 8   TIME                                                                  object
 9   DESC                                                                  object
 10  ENTRIES                                                               int64
 11  EXITS                                                                 int64
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 287.0+ MB

In [14]:
# remove whitespaces from columns names
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]
turnstiles_df.columns

Index(['DATE_TIME', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [40]:
# sanity check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique for ENTRIES
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values(["ENTRIES", "STATION"], ascending=False)).head(55)

           C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
1796773   R101  R001  02-00-00     SOUTH FERRY 2019-08-22 05:00:00        2
2388681   R290  R161  00-00-00  KINGSBRIDGE RD 2019-06-07 05:00:00        2
2790743   R622  R123  00-00-06     FRANKLIN AV 2019-08-22 04:59:02        2
2791345   R622  R123  00-00-07     FRANKLIN AV 2019-08-22 04:59:02        2
385776    E001  R368  00-00-01            9 AV 2019-07-30 05:00:00        2
2320233   R249  R179  01-05-00           86 ST 2019-06-27 00:00:00        2
2320237   R249  R179  01-05-00           86 ST 2019-06-27 04:00:00        2
2320241   R249  R179  01-05-00           86 ST 2019-06-27 08:00:00        2
2320244   R249  R179  01-05-00           86 ST 2019-06-27 12:00:00        2
684966    N045  R187  01-00-00    81 ST-MUSEUM 2019-06-01 17:00:00        2
684971    N045  R187  01-00-00    81 ST-MUSEUM 2019-06-02 17:00:00        2
685186    N045  R187  01-00-00    81 ST-MUSEUM 2019-07-09 09:00:00        2
685562    N045  R187  01-00-01    81 ST-MUSEUM 2019-06-01 17:00:00        2
685567    N045  R187  01-00-01    81 ST-MUSEUM 2019-06-02 17:00:00        2
685779    N045  R187  01-00-01    81 ST-MUSEUM 2019-07-09 09:00:00        2
686155    N045  R187  01-00-02    81 ST-MUSEUM 2019-06-01 17:00:00        2
686160    N045  R187  01-00-02    81 ST-MUSEUM 2019-06-02 17:00:00        2
686249    N045  R187  01-00-02    81 ST-MUSEUM 2019-06-17 09:00:00        2
686375    N045  R187  01-00-02    81 ST-MUSEUM 2019-07-09 09:00:00        2
686756    N045  R187  01-06-00    81 ST-MUSEUM 2019-06-02 17:00:00        2
686811    N045  R187  01-06-00    81 ST-MUSEUM 2019-06-11 21:00:00        2
686969    N045  R187  01-06-00    81 ST-MUSEUM 2019-07-09 09:00:00        2
687564    N045  R187  01-06-01    81 ST-MUSEUM 2019-07-09 09:00:00        2
2000481  R161A  R452  01-00-02           72 ST 2019-08-26 21:00:00        2
2204868   R229  R143  01-00-00           28 ST 2019-06-27 17:00:00        2
2205561   R229  R143  01-00-01           28 ST 2019-06-29 09:00:00        2
2206857   R229  R143  01-00-03           28 ST 2019-06-29 09:00:00        2
72109     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-10 01:00:00        2
72110     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-10 05:00:00        2
72111     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-10 09:00:00        2
72112     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-10 13:00:00        2
72113     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-10 17:00:00        2
72114     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-10 21:00:00        2
72115     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-11 01:00:00        2
72116     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-11 05:00:00        2
72117     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-11 09:00:00        2
72118     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-11 13:00:00        2
72119     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-11 17:00:00        2
72120     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-11 21:00:00        2
72121     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-12 01:00:00        2
72122     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-12 05:00:00        2
72123     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-12 09:00:00        2
72124     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-12 13:00:00        2
72125     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-12 17:00:00        2
72126     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-12 21:00:00        2
72127     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-13 01:00:00        2
72128     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-13 05:00:00        2
72129     A034  R170  03-05-03  14 ST-UNION SQ 2019-08-13 09:00:00        2
2050191   R174  R034  00-00-01          125 ST 2019-06-08 00:00:00        2
2050783   R174  R034  00-00-02          125 ST 2019-06-08 00:00:00        2
2051375   R174  R034  00-00-03          125 ST 2019-06-08 00:00:00        2
2341681   R256  R182  00-00-03          116 ST 2019-07-24 21:00:00        2
2542733   R419  R326  00-00-00       ZEREGA AV 2019-05-25 01:00:00        1
2542734   R419  R326  00-00-00       ZEREGA AV 2019-05-25 05:00:00        1
2542735   R419  R326  00-00-00       ZEREGA AV 2019-05-25 09:00:00        1

In [42]:
import datetime

# we have some duplicated entries and exists for same time. Let's check some entries to understand the error
mask = ((turnstiles_df["C/A"] == "R101") & 
(turnstiles_df["UNIT"] == "R001") & 
(turnstiles_df["SCP"] == "02-00-00") & 
(turnstiles_df["STATION"] == "SOUTH FERRY") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2019, 8, 22).date()))

turnstiles_df[mask].head()

                 DATE_TIME   C/A  UNIT  ...        DESC  ENTRIES    EXITS
127833 2019-08-22 01:00:00  R101  R001  ...     REGULAR  3559356  5452274
127834 2019-08-22 05:00:00  R101  R001  ...     REGULAR  3559385  5452303
127835 2019-08-22 05:00:00  R101  R001  ...  RECOVR AUD  3559384  5452303
127836 2019-08-22 09:00:00  R101  R001  ...     REGULAR  3559868  5452791
127837 2019-08-22 13:00:00  R101  R001  ...     REGULAR  3560128  5453294

[5 rows x 12 columns]

In [43]:
mask = ((turnstiles_df["C/A"] == "E001") & 
(turnstiles_df["UNIT"] == "R368") & 
(turnstiles_df["SCP"] == "00-00-01") & 
(turnstiles_df["STATION"] == "9 AV") &
(turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2019, 7, 30).date()))

turnstiles_df[mask].head()

                DATE_TIME   C/A  UNIT  ...        DESC  ENTRIES    EXITS
27808 2019-07-30 01:00:00  E001  R368  ...     REGULAR  3499282  2678138
27809 2019-07-30 05:00:00  E001  R368  ...     REGULAR  3499299  2678143
27810 2019-07-30 05:00:00  E001  R368  ...  RECOVR AUD  3499298  2678143
27811 2019-07-30 09:00:00  E001  R368  ...     REGULAR  3499692  2678239
27812 2019-07-30 13:00:00  E001  R368  ...     REGULAR  3499944  2678340

[5 rows x 12 columns]

In [46]:
# it seems that the duplicated rows are just missed audits. Let's drop them
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [47]:
# sanity check to verify that all duplicated entries are removed
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values(["ENTRIES", "STATION"], ascending=False)).head(55)

          C/A  UNIT       SCP    STATION           DATE_TIME  ENTRIES
2542733  R419  R326  00-00-00  ZEREGA AV 2019-05-25 01:00:00        1
2542734  R419  R326  00-00-00  ZEREGA AV 2019-05-25 05:00:00        1
2542735  R419  R326  00-00-00  ZEREGA AV 2019-05-25 09:00:00        1
2542736  R419  R326  00-00-00  ZEREGA AV 2019-05-25 13:00:00        1
2542737  R419  R326  00-00-00  ZEREGA AV 2019-05-25 17:00:00        1
2542738  R419  R326  00-00-00  ZEREGA AV 2019-05-25 21:00:00        1
2542739  R419  R326  00-00-00  ZEREGA AV 2019-05-26 01:00:00        1
2542740  R419  R326  00-00-00  ZEREGA AV 2019-05-26 05:00:00        1
2542741  R419  R326  00-00-00  ZEREGA AV 2019-05-26 09:00:00        1
2542742  R419  R326  00-00-00  ZEREGA AV 2019-05-26 13:00:00        1
2542743  R419  R326  00-00-00  ZEREGA AV 2019-05-26 17:00:00        1
2542744  R419  R326  00-00-00  ZEREGA AV 2019-05-26 21:00:00        1
2542745  R419  R326  00-00-00  ZEREGA AV 2019-05-27 01:00:00        1
2542746  R419  R326  00-00-00  ZEREGA AV 2019-05-27 05:00:00        1
2542747  R419  R326  00-00-00  ZEREGA AV 2019-05-27 09:00:00        1
2542748  R419  R326  00-00-00  ZEREGA AV 2019-05-27 13:00:00        1
2542749  R419  R326  00-00-00  ZEREGA AV 2019-05-27 17:00:00        1
2542750  R419  R326  00-00-00  ZEREGA AV 2019-05-27 21:00:00        1
2542751  R419  R326  00-00-00  ZEREGA AV 2019-05-28 01:00:00        1
2542752  R419  R326  00-00-00  ZEREGA AV 2019-05-28 05:00:00        1
2542753  R419  R326  00-00-00  ZEREGA AV 2019-05-28 09:00:00        1
2542754  R419  R326  00-00-00  ZEREGA AV 2019-05-28 13:00:00        1
2542755  R419  R326  00-00-00  ZEREGA AV 2019-05-28 17:00:00        1
2542756  R419  R326  00-00-00  ZEREGA AV 2019-05-28 21:00:00        1
2542757  R419  R326  00-00-00  ZEREGA AV 2019-05-29 01:00:00        1
2542758  R419  R326  00-00-00  ZEREGA AV 2019-05-29 05:00:00        1
2542759  R419  R326  00-00-00  ZEREGA AV 2019-05-29 09:00:00        1
2542760  R419  R326  00-00-00  ZEREGA AV 2019-05-29 13:00:00        1
2542761  R419  R326  00-00-00  ZEREGA AV 2019-05-29 17:00:00        1
2542762  R419  R326  00-00-00  ZEREGA AV 2019-05-29 21:00:00        1
2542763  R419  R326  00-00-00  ZEREGA AV 2019-05-30 01:00:00        1
2542764  R419  R326  00-00-00  ZEREGA AV 2019-05-30 05:00:00        1
2542765  R419  R326  00-00-00  ZEREGA AV 2019-05-30 09:00:00        1
2542766  R419  R326  00-00-00  ZEREGA AV 2019-05-30 13:00:00        1
2542767  R419  R326  00-00-00  ZEREGA AV 2019-05-30 17:00:00        1
2542768  R419  R326  00-00-00  ZEREGA AV 2019-05-30 21:00:00        1
2542769  R419  R326  00-00-00  ZEREGA AV 2019-05-31 01:00:00        1
2542770  R419  R326  00-00-00  ZEREGA AV 2019-05-31 05:00:00        1
2542771  R419  R326  00-00-00  ZEREGA AV 2019-05-31 09:00:00        1
2542772  R419  R326  00-00-00  ZEREGA AV 2019-05-31 13:00:00        1
2542773  R419  R326  00-00-00  ZEREGA AV 2019-05-31 17:00:00        1
2542774  R419  R326  00-00-00  ZEREGA AV 2019-05-31 21:00:00        1
2542775  R419  R326  00-00-00  ZEREGA AV 2019-06-01 01:00:00        1
2542776  R419  R326  00-00-00  ZEREGA AV 2019-06-01 05:00:00        1
2542777  R419  R326  00-00-00  ZEREGA AV 2019-06-01 09:00:00        1
2542778  R419  R326  00-00-00  ZEREGA AV 2019-06-01 13:00:00        1
2542779  R419  R326  00-00-00  ZEREGA AV 2019-06-01 17:00:00        1
2542780  R419  R326  00-00-00  ZEREGA AV 2019-06-01 21:00:00        1
2542781  R419  R326  00-00-00  ZEREGA AV 2019-06-02 01:00:00        1
2542782  R419  R326  00-00-00  ZEREGA AV 2019-06-02 05:00:00        1
2542783  R419  R326  00-00-00  ZEREGA AV 2019-06-02 09:00:00        1
2542784  R419  R326  00-00-00  ZEREGA AV 2019-06-02 13:00:00        1
2542785  R419  R326  00-00-00  ZEREGA AV 2019-06-02 17:00:00        1
2542786  R419  R326  00-00-00  ZEREGA AV 2019-06-02 21:00:00        1
2542787  R419  R326  00-00-00  ZEREGA AV 2019-06-03 01:00:00        1


*   In the next steps, I will try to calculate the number of traffic on each turnstile in order to find out the stations with the highest traffic. Some graphs might be plotted to visualize the results.

*   Also the datasets will be uploaded into a PostgreSQL database by creating a PostgreSQL server in GCP SQL. Then it will be imported into Python using SQLAlchemy. (already started working on this task)

* After that, a regression model will be trained on the datasets to generate predictions.